@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/*
1. Encabezado
2. logo
3. navbar
4. marcas
5. inicio
6. equipos
7. card
8. productos.html
*/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

main {
    background: linear-gradient(94deg, #ffffff, #e3f0f5, #8f9194);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 13s ease infinite;
    -moz-animation: AnimationName 13s ease infinite;
    animation: AnimationName 13s ease infinite;
}

/*1. Encabezado*/

/*2. LOGO*/
.logo {
    height: 50px;
}

/*2. navbar*/
.navbar {
    position: sticky;
    top: 0;
    align-items: center;
    padding: .1rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px rgb(0, 0, 0);

}

.navbar a {
    color: rgb(0, 0, 0);
    font-size: 1rem;
    margin: 0 .5rem;
    font-family: 'Russo One', sans-serif;

}

.navbar ul {
    display: flex;
    margin-bottom: 1rem;
    gap: 30px;
    justify-content: end;
    align-items: center;
    text-align: center;
    list-style: none;

}

.navbar li {
    display: inline-block;
}

/*   HEADER DEL INDEX, QUIENES SOMOS, CONTACTO   */
.HeaderDesktop {
    background: #f7f7f7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content__header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-top: 30%;
    align-items: center;
    height: 300px;
    width: 100%;
}

.title__header {
    text-align: center;
    padding: 1rem;
    color: #000000;
    font-size: 55px;
    animation: move linear 2000ms infinite;  

}

.parrafo__header {
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 28px;
}

.header__btn {
    background-color: rgb(41, 102, 233);
    border: none;
    width: 18rem;
    padding: 10px;
    border-radius: 20px;
}


.btn {
    color: rgb(41, 23, 23);
    font-size: 24px;
}


/*4.marcas*/
.container__marcas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.marcas {
    height: 20rem;
    width: 100%;
    margin: 20px;
    gap: 10px;
    border-radius: 1rem;
}

.PrimeraMarca {
    background-image: url(./assets/marca1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

}

.SegundaMarca {
    background-image: url(./assets/marca2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

}

/*5.inicio*/
.ProductosDestacados {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    gap: 15px;
    
}

.titulo {
    width: 100%;
    font-size: 28px;
    text-align: center;
    font-family: 'Russo One', sans-serif;

}


/*   DESTACADOS   */
.GpuDestacado {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: rgba(247, 247, 247, 0.295);
    height: 30rem;
    width: 25rem;
    background-image: url(./assets/gpudestacado.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 20px 0px 20px 0px;
    box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
}

.GraficaDestacado1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(247, 247, 247, 0.295);
    background-image: url(./assets/graficadestacado.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 45%;
    border-radius: 20px 0px 20px 0px;
    height: 24rem;
    width: 45rem;
}

.GraficaDestacado2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(247, 247, 247, 0.295);
    background-image: url(./assets/graficadestacado2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;
    border-radius: 20px 0px 20px 0px;
    height: 24rem;
    width: 45rem;
}

.DestacadoFinal1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(247, 247, 247, 0.295);
    background-image: url(./assets/consolas/quest2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border-radius: 20px 0px 20px 0px;
    height: 24rem;
    width: 45rem;
}

.DestacadoFinal2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(247, 247, 247, 0.295);
    background-image: url(./assets/Xigmatek-Eros-web.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border-radius: 20px 0px 20px 0px;
    height: 24rem;
    width: 45rem;
}

.DestacadoFinal3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: rgba(247, 247, 247, 0.295);
    height: 35rem;
    width: 30rem;
    background-image: url(./assets/2b.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
    border-radius: 20px;
    

}

/* destacados de la pagina de equipos */
.equipos__subtitle {
    margin-top: 0px;
    text-align: center;
    color: rgb(2, 2, 2);
    padding: 0px;
    font-size: 58px;
    font-family: 'Russo One', sans-serif;
}

.equipos__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-top: 80px;
}

.PcDestacada1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: rgba(247, 247, 247, 0.295);
    height: 30rem;
    width: 25rem;
    background-image: url(./assets/equipo.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 20px 0px 20px 0px;
}

.PcDestacada2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(247, 247, 247, 0.295);
    background-image: url(./assets/540.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border-radius: 20px 0px 20px 0px;
    height: 20rem;
    width: 30rem;
}

.PcDestacada3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(247, 247, 247, 0.295);
    background-image: url(./assets/EQUIPO2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 20px 0px 20px 0px;
    height: 20rem;
    width: 30rem;
    
}

.PcDestacada4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(247, 247, 247, 0.295);
    background-image: url(./assets/equipo3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    border-radius: 20px 0px 20px 0px;
    height: 20rem;
    width: 30rem;
}

.PcDestacada5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(247, 247, 247, 0.295);
    background-image: url(./assets/equipo4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    border-radius: 20px 0px 20px 0px;
    height: 20rem;
    width: 30rem;
}

.PcDestacada6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(247, 247, 247, 0.295);
    background-image: url(./assets/equipo5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    border-radius: 20px 0px 20px 0px;
    height: 20rem;
    width: 30rem;
}

.PcDestacada7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(247, 247, 247, 0.295);
    background-image: url(./assets/equipo6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    border-radius: 20px 0px 20px 0px;
    height: 20rem;
    width: 30rem;
}

.PcDestacada8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(247, 247, 247, 0.295);
    background-image: url(./assets/equipo7.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    border-radius: 20px 0px 20px 0px;
    height: 20rem;
    width: 30rem;
}

.PcDestacada9 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(247, 247, 247, 0.295);
    background-image: url(./assets/equipo8.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    border-radius: 20px 0px 20px 0px;
    height: 20rem;
    width: 25rem;
}

/*  CONTENIDO DE LOS DESTACADOS  */
.MiniContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TitleMini {
    color: #fff;
}

.ParrafoMini {
    color: #fff;
}

.Btn {
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.637);
    width: 100%;
    padding: 20px 40px;
    margin: 20px;
}

/*productos*/
.SubtitleProductos {
    text-align: center;
}

/*7.card*/
.card {
    width: 12rem;
    border-radius: 20px 0;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
}

.card img {
    width: 100%;
    padding: 10px;
}

.card p {
    text-align: center;
}

.card__btn {
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-decoration: none;
    background-color: #000000;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
}

.card__btn:hover {
    color: #000000;
    background-color: #fff;
}

.header__btn:hover {
    background-color: #000000;
    color: #fcfcfc;
}

.Btn:hover {
    background-color: #000000;
    color: #ffffff;

}

.card>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

/* QUIENES SOMOS*/
.container-quienesSomos {
    padding: 50px;
    text-align: center;
}

.informacion {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 30px 0;
    height: 80vh;
}

.informacion-parrafo {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80%;
}

.info-p {
    font-size: 18px;
}

/*   CONTACTO   */
.ContainerContacto {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 50px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "... SubTitleContact SubTitleContact SubTitleContact ..."
        "... RedesIconI instangram ... ..."
        "... RedesIconW watsap ... ..."
        "... RedesIconF facebook ... ..."
        "... ... ... ... ...";
}

.SubTitleContact {
    font-size: 48px;
    color: rgb(0, 0, 0);
    font-family: 'Russo One', sans-serif;
    text-align: center;
    margin-top: 100px;
    grid-area: SubTitleContact;
}

.RedesIconF {
    grid-area: RedesIconF;
    width: 80px;
}

.RedesIconI {
    grid-area: RedesIconI;
    width: 80px;
}

.RedesIconW {
    grid-area: RedesIconW;
    width: 80px;
}

.instangram {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-radius: 1rem;
    width: 400px;
    color: #fff;
    font-size: 54px;
    text-decoration: none;
    grid-area: instangram;
}

.watsap {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-area: watsap;
    text-align: center;
    background-color: #000000;
    border-radius: 1rem;
    width: 400px;
    color: #fff;
    font-size: 54px;
    text-decoration: none;
}

.facebook {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-area: facebook;
    text-align: center;
    background-color: #000000;
    border-radius: 1rem;
    width: 400px;
    color: #fff;
    font-size: 54px;
    text-decoration: none;

}

.RedesHover:hover {
    background-color: #ffffff;
    color: #000000;
}

/*footer*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 5rem;
    margin: 0;
    color: #fff;
    background-color: black;
    box-shadow: 0px 0px 15px white;
}









/*      TAMAÑO PANTALLAS GRANDES DE ESCRITORIO 1920x1080     */

@media screen and (max-width: 1920px) {
    main {
        background-color: #ffffff;
        margin: 0;
        padding: 0;
    }

    footer {
        margin: 0;
    }




    /*---------HEADER--------*/

    .HeaderRespons {
        background: #ffffff;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        display: block;
        height: 90vh;
        box-shadow: none;
    }

    .content__header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-top: 20%;
    }

    .title__header {
        font-size: 85px;
        font-family: 'Lobster', cursive;
    }

    .parrafo__header {
        font-size: 20px;
    }

    .header__btn {
        background-color: rgb(12, 89, 255);
        width: 220px;
        padding: 0;
        margin: 0;
    }

    .header__btn a {
        color: white;
        font-size: 18px;
    }

    .header__equipos {
        display: none;
    }

    /*         PRODUCTOS DESTACADOS DE LA PAGINA DE INICIO        */
    .ProductosDestacados {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-bottom: 20px;
        row-gap: 20px;
        
    }

    .titulo {
        color: #000000;
    }

    .DestacadosHorizontal {
        display: flex;
        text-align: center;
        flex-direction: row;
        justify-content: center;
        height: 35vh;
        width: 100%;
        margin: 0px;
        gap: 20px;
        
    }
    .PcDestacada1{
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        width: 30rem;
        height: 20rem;
        background-size: 70%;
    }
    .PcDestacada2{
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        background-size: 65%;
    }
    .PcDestacada3{
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
    }
    .PcDestacada4{
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
    }
    .PcDestacada5{
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
    }
    .PcDestacada6{
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
    }
    .PcDestacada7{
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
    }
    .PcDestacada8{
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
    }
    .PcDestacada9{
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        margin-top: 90px;
        height: 15rem;
        
        
    }
    .GpuDestacado {
        
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        border-radius: 20px 0px 20px 0px;
        background-size: 60%;
        width: 30%;
        height: 40%;
        padding: 0;
        margin: 0;
    }

    .PcDestacado1 {
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        border-radius: 20px 0px 20px 0px;
        background-size: 40%;
        width: 50%;
        height: 40%;
        padding: 0;
        margin: 0;
    }

    .GraficaDestacado1 {
        background-size: 50%;
        background-color: rgb(255, 254, 254);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        border-radius: 0px 20px 0px 20px;
        height: 120%;
        width: 35%;
        padding: 0;
        margin: 0;
    }

    .GraficaDestacado2 {
        background-size: 50%;
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        border-radius: 0px 20px 0px 20px;
        height: 120%;
        width: 35%;
        padding: 0;
        margin: 0;

    }


    .DestacadoFinal1 {
        background-size: 50%;
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        border-radius: 0px 20px 0px 20px;
        height: 120%;
        width: 40%;
        padding: 0;
        margin: 0;
    }

    .DestacadoFinal2 {
        background-size: 50%;
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        border-radius: 0px 20px 0px 20px;
        height: 120%;
        width: 40%;
        padding: 0;
        margin: 0;
    }

    .DestacadoFinal3 {
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        border-radius: 20px 0px 20px 0px;
        background-size: 60%;
        width: 30rem;
        height: 40%;
        padding: 0;
        margin-top: 50px;
    }


    /*   BOTON DE LOS PRODUCTOS DE LA PAGINA DE INICIO  */
    .Btn {
        text-decoration: none;
        background-color: #000000e5;
        color: #fff;
        font-family: 'Russo One', sans-serif;
        font-size: 24px;
        box-shadow: -3px 1px 36px 3px rgba(0, 0, 0, 0.7);
        border-radius: 1rem;
        padding: 2px;
        width: 7rem;
    }
    .Btn:hover{
        background-color: #e3f0f5;
        color: #000;
    }


    /*  TITULO QUE VA EN EL PRODUCTO DESTACADO  */
    .TitleMini {
        text-align: center;
        background-color: #fffffffd;
        font-size: 18px;
        color: rgb(0, 0, 0);
        width: 100%;
    }

    .ParrafoMini {
        display: none;
    }

    /*-------EQUIPOS html----------*/


    .equipos__container {
        display: flex;
        flex-direction: row;
        gap: 15px;

    }

    /*   SUBTITULO DE LA PAGINA DE EQUIPOS "EJEMPLO, INTEL, AMD. RYZEN "  */
    .equipos__subtitle {
        margin-top: 50px;
        display: none;
        color: #000000;
        
    }


    /*----------ESTILOS CARD DE EQUIPOS-----------*/

    span {
        color: red;
        font-size: 24px;
        font-family: sans-serif;
    }

    .card p {
        font-size: 16px;
        text-transform: uppercase;
        margin: 0;
    }

    .card>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0;
    }


    /* PRODUCTOS.HTML  */





    .equipos__subtitle {
        display: block;
    }


}






/*      TAMAÑO A TABLETS      */

@media screen and (max-width: 769px) {
    main {
        background-color: #ffffff;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    footer {
        margin: 0;
    }

    /*---------NAVBAR--------*/
    .navbar-collapse {
        padding-top: 10px;
    }

    .navbar li {
        width: 100%;
        box-shadow: none;
        background-color: rgb(225, 225, 236);
    }

    /*---------HEADER--------*/
    header {
        display: none;
    }

    .HeaderRespons {
        background: #ffffff;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        display: block;
        height: 100vh;
        box-shadow: none;
    }

    .content__header {
        width: 100%;
        height: 100%;
        padding-top: 40px;
        margin: 0;
    }

    .title__header {
        font-size: 150px;
    }

    .parrafo__header {
        font-size: 20px;
    }

    .header__btn {
        background-color: rgb(12, 89, 255);
        width: 220px;
        padding: 0;
        margin: 0;
    }

    .header__btn a {
        color: white;
        font-size: 18px;
    }

    .header__equipos {
        display: none;
    }

    /*-------MARCAS---------*/

    .ProductosDestacados {
        display: flex;
        height: 120vh;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin: 10px;
        


    }

    .DestacadosHorizontal {
        display: flex;
        text-align: center;
        flex-direction: row;
        justify-content: center;
        height: 30vh;
        width: 100%;
        margin: 0px;
        padding: 0px;
        gap: 10px;
    }

    .titulo {
        color: #000000;
    }

    .GpuDestacado {
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        border-radius: 20px 0px 20px 0px;
        background-size: 80%;
        width: 50%;
        height: 40%;
        padding: 0;
        margin: 0;
    }

    .PcDestacada1 {
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        border-radius: 20px 0px 20px 0px;
        background-size: 70%;
        width: 30rem;
        height: 20rem;
    }

    .PcDestacada2 {
        background-size: 65%;
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        border-radius: 0px 20px 0px 20px;
        height: 100%;
        width: 50%;
        padding: 0;
        margin: 0;
    }

    .PcDestacada3 {
        background-size: 95%;
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        border-radius: 0px 20px 0px 20px;
        height: 100%;
        width: 50%;
        padding: 0;
        margin: 0;
    }
    .PcDestacada4 {
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        border-radius: 20px 0px 20px 0px;
        background-size: 70%;
        width: 30rem;
        height: 20rem;
    }
    .PcDestacada5 {
        background-size: 75%;
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        border-radius: 0px 20px 0px 20px;
        height: 100%;
        width: 50%;
        padding: 0;
        margin: 0;
    }
    .PcDestacada6 {
        background-size: 85%;
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        border-radius: 0px 20px 0px 20px;
        height: 100%;
        width: 50%;
        padding: 0;
        margin: 0;
    }
    .PcDestacada7 {
        background-size: 85%;
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        border-radius: 0px 20px 0px 20px;
        height: 100%;
        width: 50%;
        padding: 0;
        margin: 0;
    }
    .PcDestacada8 {
        background-size: 65%;
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        border-radius: 0px 20px 0px 20px;
        height: 100%;
        width: 50%;
        padding: 0;
        margin: 0;
    }
    .PcDestacada9 {
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        border-radius: 20px 0px 20px 0px;
        background-size: 70%;
        width: 30rem;
        height: 20rem;
    }
    .GraficaDestacado1 {
        background-size: 70%;
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        border-radius: 0px 20px 0px 20px;
        height: 100%;
        width: 50%;
        padding: 0;
        margin: 0;
    }

    .GraficaDestacado2 {
        background-size: 70%;
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        border-radius: 0px 20px 0px 20px;
        height: 100%;
        width: 50%;
        padding: 0;
        margin: 0;

    }

    .slider__productos {
        display: none;
    }
    .DestacadoFinal1 {
        background-size: 70%;
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .DestacadoFinal2 {
        background-size: 90%;
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .DestacadoFinal3 {
        background-size: 70%;
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        border-radius: 1rem;
        width: 70%;
        height: 40%;
        padding: 0;
        margin-top: 50px;
    }
    .Btn {
        text-decoration: none;
        background-color: #000000e5;
        color: #fff;
        font-family: 'Russo One', sans-serif;
        font-size: 24px;
        box-shadow: -3px 1px 36px 3px rgba(0, 0, 0, 0.7);
        border-radius: 1rem;
        padding: 2px;
        width: 7rem;
    }
    .Btn:hover{
        background-color: #e3f0f5;
        color: #000;
    }
    
    .TitleMini {
        background-color: #fffffffd;
        font-size: 18px;
        color: rgb(0, 0, 0);
        width: 100%;
    }

    .ParrafoMini {
        display: none;
    }

    /*-------EQUIPOS html----------*/


    .equipos__container {
        display: flex;
        flex-direction: row;
        gap: 15px;

    }

    .equipos__subtitle,
    .SubtitleProductos {
        display: none;
        color: #000000;
        height: 90px;
    }


    /*----------ESTILOS CARD DE EQUIPOS-----------*/


    .card {
        background-color: rgb(243, 243, 243);
        display: flex;
        justify-content: center;
        width: 35%;

    }

    .card img {
        height: 100%;
    }

    .card__btn {
        padding: 3px;
    }

    .card a {
        text-decoration: none;
        width: 100%;
        font-size: 18px;
    }

    span {
        color: red;
        font-size: 24px;
        font-family: sans-serif;
    }

    .card p {
        font-size: 16px;
        text-transform: uppercase;
        margin: 0;
    }

    .card>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0;
    }


    .equipos__subtitle {
        text-align: center;
        display: block;
    }

    .banerProductos-Mous {
        width: 100%;
        height: 20%;
        padding: 0;
        margin: 0;
    }

    .banerProductos-Teclado {
        width: 100%;
        height: 20%;
        margin-top: 100px;

    }

}


/*      TAMAÑO A TELEFENO       */

@media screen and (max-width: 425px) {
    main {
        text-align: center;
        background-color: #ffffff;
        margin: 0;
        padding: 0;
    }

    footer {
        margin: 0;
    }

    /*---------NAVBAR--------*/
    .navbar-collapse {


        padding-top: 10px;

    }

    .navbar li {
        width: 100%;
    }

    /*---------HEADER--------*/
    header {
        display: none;
    }

    .HeaderRespons {
        background: #ffffff;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        display: block;
        height: 100vh;
    }

    .content__header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-bottom: 50%;
    }

    .title__header {
        font-size: 100px;
    }

    .parrafo__header {
        font-size: 20px;
    }

    .header__btn {
        background-color: rgb(12, 89, 255);
        width: 220px;
        padding: 0;
        margin: 0;
    }

    .header__btn a {
        color: white;
        font-size: 18px;
    }

    .header__equipos {
        display: none;
    }

    /*-------MARCAS---------*/
    .marcas {
        display: none;
    }

    .ProductosDestacados {
        display: flex;
        height: 90vh;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
        margin: 10px;


    }

    .DestacadosHorizontal {
        display: flex;
        text-align: center;
        flex-direction: row;
        justify-content: center;
        height: 30vh;
        width: 100%;
        margin: 0px;
        padding: 0;
        gap: 10px;
    }

    .titulo {
        color: #000000;
    }

    .GpuDestacado {
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        border-radius: 20px 0px 20px 0px;
        background-size: 64%;
        width: 20rem;
        height: 15rem;
        padding: 0;
        margin: 0;
    }

    .PcDestacada1 {
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        border-radius: 20px 0px 20px 0px;
        background-size: 80%;
        width: 20rem;
        height: 15rem;
        
    }

    .PcDestacada2 {
        background-size: 100%;
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        border-radius: 0px 20px 0px 20px;
        height: 15rem;
        width: 25rem;
        padding: 0;
        margin: 0;
    }

    .PcDestacada3 {
        background-size: 120%;
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        border-radius: 0px 20px 0px 20px;
        height: 15rem;
        width: 25rem;
        padding: 0;
        margin: 0;
    }

    .PcDestacada4 {
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        border-radius: 20px 0px 20px 0px;
        background-size: 70%;
        width: 20rem;
        height: 15rem;
    }

    .PcDestacada5 {
        background-size: 120%;
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        border-radius: 0px 20px 0px 20px;
        height: 15rem;
        width: 25rem;
        padding: 0;
        margin: 0;
    }

    .PcDestacada6 {
        background-size: 120%;
        background-color: #fff;
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        border-radius: 0px 20px 0px 20px;
        height: 15rem;
        width: 25rem;
        padding: 0;
        margin: 0;
    }

    .PcDestacada7 {
        background-size: 120%;
        background-color: #fff;
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        border-radius: 0px 20px 0px 20px;
        height: 15rem;
        width: 25rem;
        padding: 0;
        margin: 0;
    }

    .PcDestacada8 {
        background-size: 120%;
        background-color: #fff;
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        border-radius: 0px 20px 0px 20px;
        height: 15rem;
        width: 25rem;
        padding: 0;
        margin: 0;
    }

    .PcDestacada9 {
        background-color: #fff;
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        border-radius: 20px 0px 20px 0px;
        background-size: 70%;
        width: 20rem;
        height: 15rem;
        margin-top: 10px;
    }

    .GraficaDestacado1 {
        background-size: 105%;
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        border-radius: 0px 20px 0px 20px;
        height: 15rem;
        width: 25rem;
        padding: 0;
        margin: 0;

    }

    .GraficaDestacado2 {
        background-size: 105%;
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        border-radius: 0px 20px 0px 20px;
        height: 15rem;
        width: 25rem;
        padding: 0;
        margin: 0;

    }

    .slider__productos {
        display: none;
    }

    .DestacadoFinal3 {
        background-color: rgb(255, 255, 255);
        background-size: 82%;
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        border-radius: 1rem;
        width: 70%;
        height: 40%;
        padding: 0;
        margin: 0;
    }

    .DestacadoFinal1 {
        background-size: 100%;
        background-color: rgb(255, 254, 254);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .DestacadoFinal2 {
        background-size: 120%;
        background-color: rgb(255, 255, 255);
        box-shadow: -3px 1px 36px 3px rgba(0,0,0,0.7);
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .Btn {
        text-decoration: none;
        background-color: #000000e5;
        color: #fff;
        font-family: 'Russo One', sans-serif;
        font-size: 18px;
        box-shadow: -3px 1px 36px 3px rgba(0, 0, 0, 0.7);
        border-radius: 1rem;
        padding: 2px;
        width: 7rem;
    }
    .Btn:hover{
        background-color: #e3f0f5;
        color: #000;
    }

    .TitleMini {
        background-color: #fffffffd;
        font-size: 18px;
        color: rgb(0, 0, 0);
        width: 100%;
    }

    .ParrafoMini {
        display: none;
    }

    /*-------EQUIPOS html----------*/


    .equipos__container {
        text-align: center;
        display: flex;
        flex-direction: row;
        gap: 15px;

    }

    .SubtitleProductos {
        text-align: center;
        color: #000000;
        margin: 0;
    }
    .equipos__subtitle{
        text-align: center;
        color: #000000;

    }


    /*----------ESTILOS CARD DE EQUIPOS-----------*/


    .card {
        background-color: rgb(250, 250, 250);
        display: flex;
        justify-content: center;
        width: 47%;
        height: 10%;
    }

    .card img {
        height: 100%;
    }

    .card__btn {
        padding: 3px;
    }

    .card a {
        text-decoration: none;
        width: 100%;
        font-size: 18px;
    }

    span {
        color: red;
        font-size: 24px;
        font-family: sans-serif;
    }

    .card p {
        font-size: 16px;
        text-transform: uppercase;
        margin: 0;
    }

    .card>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0;
    }


    .equipos__subtitle {
        padding-top: 32px;
        text-align: center;
        display: block;
    }

    .banerProductos-Mous {
        width: 100%;
        height: 20%;
        padding: 0;
        margin: 0;
    }

    .banerProductos-Teclado {
        width: 100%;
        height: 20%;
        margin-top: 100px;

    }







}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 hsla(0, 100%, 50%, 1), 
      3px -3px 0 hsla(0, 100%, 50%, 1), 
      2px -2px 0 hsla(0, 100%, 50%, 1), 
      1px -1px 0 hsla(0, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1), 
      -3px 3px 0 hsla(180, 100%, 50%, 1), 
      -2px 2px 0 hsla(180, 100%, 50%, 1), 
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  25% {    
    text-shadow:      
      -4px -4px 0 hsla(180, 100%, 50%, 1), 
      -3px -3px 0 hsla(180, 100%, 50%, 1), 
      -2px -2px 0 hsla(180, 100%, 50%, 1), 
      -1px -1px 0 hsla(180, 100%, 50%, 1),
      4px 4px 0 hsla(0, 100%, 50%, 1), 
      3px 3px 0 hsla(0, 100%, 50%, 1), 
      2px 2px 0 hsla(0, 100%, 50%, 1), 
      1px 1px 0 hsla(0, 100%, 50%, 1)      
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 hsla(0, 100%, 50%, 1), 
      -3px 3px 0 hsla(0, 100%, 50%, 1), 
      -2px 2px 0 hsla(0, 100%, 50%, 1), 
      -1px 1px 0 hsla(0, 100%, 50%, 1),
      4px -4px 0 hsla(180, 100%, 50%, 1), 
      3px -3px 0 hsla(180, 100%, 50%, 1), 
      2px -2px 0 hsla(180, 100%, 50%, 1), 
      1px -1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 hsla(180, 100%, 50%, 1), 
      3px 3px 0 hsla(180, 100%, 50%, 1), 
      2px 2px 0 hsla(180, 100%, 50%, 1), 
      1px 1px 0 hsla(180, 100%, 50%, 1),
      -4px -4px 0 hsla(0, 100%, 50%, 1), 
      -3px -3px 0 hsla(0, 100%, 50%, 1), 
      -2px -2px 0 hsla(0, 100%, 50%, 1), 
      -1px -1px 0 hsla(0, 100%, 50%, 1)      
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 hsla(0, 100%, 50%, 1), 
      3px -3px 0 hsla(0, 100%, 50%, 1), 
      2px -2px 0 hsla(0, 100%, 50%, 1), 
      1px -1px 0 hsla(0, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1), 
      -3px 3px 0 hsla(180, 100%, 50%, 1), 
      -2px 2px 0 hsla(180, 100%, 50%, 1), 
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }  
}







@-webkit-keyframes AnimationName {
    0% {
        background-position: 94% 0%
    }

    50% {
        background-position: 7% 100%
    }

    100% {
        background-position: 94% 0%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 94% 0%
    }

    50% {
        background-position: 7% 100%
    }

    100% {
        background-position: 94% 0%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 94% 0%
    }

    50% {
        background-position: 7% 100%
    }

    100% {
        background-position: 94% 0%
    }
}