/*
1. Encabezado
2. navbar
3. marcas
4. productos destacados nivel 1
5. productos nivel 2
6. equipos
7. card
8. productos.html
*/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
main{
    background: linear-gradient(228deg, #509fda, #36d29a, #abe05c);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;
    font-family: 'Lato', sans-serif;
}
    





/*1. Encabezado*/

/*1. LOGO*/


/*   HEADER DEL INDEX, QUIENES SOMOS, CONTACTO   */

.HeaderDesktop{
    background: #f7f7f7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    box-shadow: 0px 0px 15px rgb(243, 32, 239);
    height: 100vh;
}


/*    HEADER DE EQUIPOS.HTML   */

.header__equipos {
    background-image: url(./prueba.jpeg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    align-items: center;
    background-repeat: no-repeat;
    background-position:100%;
    background-size: 50%;
    background-color: black;
    box-shadow: 0px 0px 15px rgb(243, 32, 239);
    
}


/*    HEADER DE PRODUCTOS.HTML   */


.header__destacado{
    height: 100%;
    
}

.content__header{
    display: flex;
    flex-direction:column;
    text-align: center;
    justify-content: center;
    padding: 20px;
    align-items: center;
    height: 300px;
    width: 100%;
    
    
}

.title__header{
    text-align: center;
    padding: 1rem;
    color: #000000;
    font-size: 64px;
    
}
.parrafo__header{
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 28px;
}
.header__btn{
    background-color: rgb(41, 102, 233);
    border: none;
    width: 18rem;
    padding: 10px;
    border-radius: 20px;
}
.btn{
    color: rgb(255, 255, 255);
    font-size: 24px;
}
/*2. navbar*/


.navbar{
    position: sticky;
    top: 0;
    align-items: center;
    padding: .1rem;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 15px white;

}

.navbar a{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    margin: 0 .5rem;
    font-family: 'Julius Sans One';
    
}

.navbar ul{
    display: flex;
    margin-bottom: 1rem;
    gap: 50px;
    justify-content: end;
    align-items: center;
    text-align: center;
    list-style: none;
    
}

.navbar li{
    background-color: rgb(0, 0, 0);
    border-radius: 1rem;
    padding: 5px;
    display: inline-block;
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
}




/*3.marcas*/
.container__marcas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.marcas{
    height: 20rem;
    width: 100%;
    margin: 20px;
    gap: 10px;
    border-radius: 1rem;
}

.PrimeraMarca{
    background-image: url(./assets/marca1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.SegundaMarca{
    background-image: url(./assets/marca2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

}

/*4.productos destacados nivel 1*/
.ProductosDestacados{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    gap: 15px;
}
.titulo{
    width: 100%;
    text-align: center;
    
}


/*   DESTACADOS   */



.DestacadoFinal3{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: rgba(247, 247, 247, 0.295);
    height: 35rem;
    width: 30rem;
    background-image: url(./assets/2b.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
    border-radius: 20px;
    
}
.GpuDestacado{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: rgba(247, 247, 247, 0.295);
    height: 35rem;
    width: 30rem;
    background-image: url(./assets/gpudestacado.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 20px 0px 20px 0px;
}

.GraficaDestacado1{
    display: flex;
    flex-direction:column;
    justify-content: center;
    background-color: rgba(247, 247, 247, 0.295);
    background-image: url(./assets/graficadestacado.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size:45%;
    border-radius: 20px 0px 20px 0px;
    height: 24rem;
    width: 45rem;
}

.GraficaDestacado2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(247, 247, 247, 0.295);
    background-image: url(./assets/graficadestacado2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:45%;
    border-radius: 20px 0px 20px 0px;
    height: 24rem;
    width: 45rem;
}

.DestacadoFinal1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(247, 247, 247, 0.295);
    background-image: url(./assets/mouselg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:50%;
    border-radius: 20px 0px 20px 0px;
    height: 24rem;
    width: 45rem;
}
.DestacadoFinal2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(247, 247, 247, 0.295);
    background-image: url(./assets/Xigmatek-Eros-web.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size:50%;
    border-radius: 20px 0px 20px 0px;
    height: 24rem;
    width: 45rem;
}



/*  CONTENIDO DE LOS DESTACADOS  */

.MiniContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.TitleMini {
    color: #fff;
}
.ParrafoMini {
    color: #fff;
}
.Btn{
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.637);
    width: 100%;
    padding: 20px 40px;
    margin: 20px;
    
}


.slider__productos{
    background-image: url(./assets/bannerrrrr.png);
    background-position: center;
    background-size: 100%;
    
}

/*productos*/

.slide__productosD{
    background-image: url(./assets/consolas22.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 60vh;
}

.DestacadosHorizontal{
    display: flex;
    flex-direction: column;
    height: 40rem;
    gap: 50px;
}


.baner{
    height: 100%;
}


/*5.productos nivel 2*/
.slider__productos{
    height: 50vh;
    margin: 1rem 0 1rem;
    background-color: rgb(255, 255, 255);
}

/*footer*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 5rem;
    margin:0;
    color: #fff;
    background-color: black;
    box-shadow: 0px 0px 15px white;
}




/*6.equipos*/
.equipos__subtitle{
    text-align: center;
    color: rgb(2, 2, 2);
    padding: 20px;
    font-size: 58px;
}
.equipos__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

/*7.cards*/
.card{
    width: 16rem;
    border-radius: 20px 0 ;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
}

.card img{
    width: 100%;
    padding: 10px;
}

.card p{
    font-size: 18px;
    text-align: center;
}

.card__btn{
    color: rgb(0, 0, 0);
    font-size: 20px;
    background-color: #ff2020;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
}
.header__btn:hover{
    background-color: #000000;
    color: #fcfcfc;
}

.Btn:hover{
    
    background-color: #000000;
    color: #ffffff;
    
}

.card> div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

/*8.productos.html*/
.container__productos {
    background: linear-gradient(228deg, #509fda, #36d29a, #abe05c);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;
    padding: 5rem 0;
}




.productos__Mous{
    height: 50vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.teclados {
    display: flex;
    flex-direction: row-reverse;
}

.cards{
    background-color: #fff;
    width: 14rem;
    height: 25rem;
    border-radius: 20px 0 ;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    
}

.cards img{
    width: 100%;
    padding: 10px;
}

.cards> div{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.cards, .card p{
    font-size: 24px;
    color: #000000;
    text-align: center;
}

.banerProductos-Teclado{
    width: 550px;
    height: 300px;
    background-image: url(./assets/teclados2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius:1rem ;
    margin-left: .10rem;
    box-shadow: 0px 0px 15px rgb(255, 0, 0);
}

.banerProductos-Mous{
    width: 550px;
    height: 300px;
    background-image: url(./assets/mouse2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius:1rem ;
    margin-right: .10rem;
    box-shadow: 0px 0px 15px rgb(243, 32, 32);
}


.productos__teclado{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.BanerConsolas {
    background-image: url(./assets/baner-vertical.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 550px;
    height: 800px;
    border-radius:1rem ;
    margin-right: 20px;
}

.productos__consolas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.container__consolas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.container-quienesSomos{
    padding: 50px;
    text-align: center;
}

.informacion{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 30px 0;
    height: 80vh;
}

.informacion-parrafo{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80%;
}

.container-contacto{
    padding: 50px;
    text-align: center;
}

.informacion-redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 251, 251);
    text-align: center;
    border-radius: 30px 0;
    height: 80vh;
}
.redes__contactos{
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.redes__icon{
    height: 80px;
}

.mail{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    background-color: #fff;
    border-radius: 10px;
    width: 25%;
    height: 8%;
}
.info-p{
    font-size: 18px;
}




/*      TAMAÑO A TELEFENO       */

@media screen and (max-width: 480px) {
    main{
        background-color: #ffffff;
        margin: 0;
        padding: 0;
    }
    footer{
        margin: 0;
    }

/*---------NAVBAR--------*/
    .navbar-collapse{
        padding-top: 10px;
    }
    .navbar li {
        background-color: #000000;
        box-shadow: none;
        margin: 0px;
        width: 100%;
    }
/*---------HEADER--------*/    
    header{
        display: none;
    }
    .HeaderRespons{
        background: #ffffff;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        display: block;
        height: 100vh;
       }
       .content__header{
        width: 100%;
        height: 100%;
        padding-top: 40px;
        margin: 0;
       }
    .title__header{
        font-size: 45px;
    }
    .parrafo__header{
        font-size: 20px;
    }
    .header__btn{
        background-color: rgb(12, 89, 255);
        width: 220px;
        padding: 0;
        margin: 0;
    }
    .header__btn a{
        color: white;
        font-size: 18px;
    }
    .header__equipos{
        display: none;
    }

/*-------MARCAS---------*/    
    .marcas{
        display: none;
    }
    
   .ProductosDestacados{
    display: flex;
    height: 90vh;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
    padding: 0;
    margin: 0;
   

   }
 
   .DestacadosHorizontal{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    height: 30vh;
    width: 100%;
    margin: 10px;
    padding: 0p;
    gap: 10px;
   }
   .titulo{
    color: #000000;
   }
   .GpuDestacado{
    background-color: rgba(247, 247, 247, 0.295);
    box-shadow: 5px  5px 30px 5px#fff;
    border-radius: 20px 0px 20px 0px;
    background-size: 70%;
    width: 70%;
    height: 40%;
    padding: 0;
    margin: 0;
}
   .GraficaDestacado1{
    background-size: 120%;
    background-color: rgba(247, 247, 247, 0.295);
    box-shadow: 5px  5px 30px 5px#fff;
    border-radius: 0px 20px 0px 20px;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
   }
   .GraficaDestacado2{
    background-size: 120%;
    background-color: rgba(247, 247, 247, 0.295);
    box-shadow: 5px  5px 30px 5px#fff;
    border-radius: 0px 20px 0px 20px;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    
   }
   .slider__productos{
    display: none;
   }
   .DestacadoFinal3{
    background-color: rgba(247, 247, 247, 0.295);
    background-size: 82%;
    box-shadow: 5px  5px 30px 5px#fff;
    border-radius: 1rem;
    width: 70%;
    height: 40%;
    padding: 0;
    margin: 0;
   }
   .DestacadoFinal1{
    background-size: 120%;
    background-color: rgba(247, 247, 247, 0.295);
    box-shadow: 5px  5px 30px 5px#fff;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
   }
   .DestacadoFinal2{
    background-size: 120%;
    background-color: rgba(247, 247, 247, 0.295);
    box-shadow: 5px  5px 30px 5px#fff;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
   }
   .Btn{
    text-decoration: none;
    background-color: #18171783;
    color: #ffffff;
    width: 100%;
    padding: 10px;
    margin: 0;
   }
   
   .TitleMini{
    background-color: #fffffffd;
    font-size: 18px;
    color: rgb(0, 0, 0);
    width: 100%;
   }
.ParrafoMini{
    display: none;
}

   /*-------EQUIPOS html----------*/


   .equipos__container{
    display: flex;
    flex-direction: row;
    gap: 15px;
   
   }
   .equipos__subtitle{
    color: #000000;
    height: 90px;
   }
   

   /*----------ESTILOS CARD DE EQUIPOS-----------*/


   .card{
    background-color: black;
    display: flex;
    justify-content: center;
    width: 47%;
    height: 10%;
   }
   .card img{
    height: 100%;
   }
   .card__btn{
    padding: 3px;
   }
   .card a{
    text-decoration: none;
    width: 100%;
    font-size: 18px;
   }

span {
    color: red;
    font-size: 24px;
    font-family:sans-serif;
}

   .card p{
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
   }
   
   .card> div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0;
   }
.container__productos{
    margin: 0;
    padding: 0;
}
.slide__productosD{
    padding: 0;
    margin: 0;
    height: 200px;
}
.equipos__subtitle{
    display: none;
}
.banerProductos-Mous{
    width: 100%;
    height: 20%;
    padding: 0;
    margin: 0;
}
.banerProductos-Teclado{
    width: 100%;
    height: 20%;
    margin: 50px 0px 20px 0px;
}

   .productos__Mous{
    height: 100vh;
   }
   .cards{
    height: 18rem;
    width: 10rem;
   }
   .cards> div{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0;
}
.cards p{
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
   } 
   
} 






@-webkit-keyframes AnimationName {
    0%{background-position:94% 0%}
    50%{background-position:7% 100%}
    100%{background-position:94% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:94% 0%}
    50%{background-position:7% 100%}
    100%{background-position:94% 0%}
}
@keyframes AnimationName {
    0%{background-position:94% 0%}
    50%{background-position:7% 100%}
    100%{background-position:94% 0%}
}

